{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": false,
  "printWidth": 150,
  "overrides": [
    {
      "files": ["*.json", "*.md", "*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
