name: TypeScript build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        working-directory: ["typescript", "typescript-eslint", "typescript-routing"]
    defaults:
      run:
        working-directory: ./${{ matrix.working-directory }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref }}
      - run: npm ci
      # require handler on last line.
      - run: npm run test --if-present
      - run: npm run build
      - name: Check dist file size is lower than 10KB
        run: |
          file_size=$(stat -c%s "./dist/index.js")
          echo "${file_size}"
          if [ $file_size -gt 10240 ]; then
            echo "File size is too big"
            exit 1
          fi
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.working-directory }}
          path: ./${{ matrix.working-directory }}/dist
          if-no-files-found: error
          retention-days: 5

  git-push:
    needs: [build]
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref }}
      - uses: actions/download-artifact@v3
        with:
          name: typescript
          path: typescript/dist/
      - uses: actions/download-artifact@v3
        with:
          name: typescript-routing
          path: typescript-routing/dist/
      - uses: actions/download-artifact@v3
        with:
          name: typescript-eslint
          path: typescript-eslint/dist/
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref }}
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "[auto commit] TypeScript build"
