name: TypeScript build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        working-directory: ["typescript", "typescript-routing", "typescript-routing-js"]
    defaults:
      run:
        working-directory: ./${{ matrix.working-directory }}
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run build --if-present
      # - run: npm test
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.working-directory }}
          path: ./${{ matrix.working-directory }}/dist
          if-no-files-found: error
          retention-days: 5

  git-push:
    needs: [build]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: typescript
          path: typescript/dist/
      - uses: actions/download-artifact@v3
        with:
          name: typescript-routing
          path: typescript-routing/dist/
      - uses: actions/download-artifact@v3
        with:
          name: typescript-routing-js
          path: typescript-routing-js/dist/
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref }}
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "[auto commit] TypeScript build"
